html {
    background-color: Snow;
    box-sizing: border-box;
    color: #0F0F0F;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

main {
    margin: 1rem;
}

header {
    background-color: #0081AF;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

h1 {
    color: white;
    margin: 0;
}

button {
    background-color: #0081AF;
    color: white;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

dd {
    margin-left: 0.5rem;
}

.upload__button {
    font-size: 1.1rem;
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
}

[class$="--invisible"] {
    display: none;
}

[class$="--accessible"] {
    position: absolute;
    left: -99999999px;
}

.header__contact {
    display: flex;
    height: 100%;
}

.upload__error {
    color: red;
}

.upload__input {
    display: flex;
    flex-direction: column;
}

.fa-linkedin::before, .fa-github-square::before {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
}

.results__regression-values {
    display: flex;
    flex-direction: column;
}

.results__dl-element-wrapper {
    display: flex;
}

.results__tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.axis {
    shape-rendering: crispEdges;
}
